<div class="jumbotron">
	<h1 class="text-center">Lista de peças</h1>
</div>
<button class="btn btn-primary">Novo</button>
<input type="search" placeholder="Nome..." ng-model="filtro" />
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Nome</th>
			<th class="text-center">Tags</th>
			<th class="text-center"></th>
		</tr>
		<tr ng-repeat="peca in pecas | filter: filtro">
			<td>{{peca.nome}}</td>
			<td class="text-center">{{peca.tags}}</td>
			<td class="text-center">
				<button class="brn btn-warning">remover</button>
			</td>
		</tr>
	</table>
</div>